body {
    background-color: #E2E2E2;
    margin: 0; 
    padding: 0; 
}

.white-container1 {
    background-color: white;
    padding: 20px;
    margin-left: 250px;
    margin-top: 10px;
    color: #000000;
    font-size: 36px;
    font-family:"Poppins",sans-serif;
    margin-bottom: 10px;
    border-radius: 10px;
    transition: all 0.5s ease;
}

.white-container1.close{
    margin-left: 88px;
}

.left-top-text {
    text-align: left;
    margin: 0; 
    padding: 0; 
    color: #17376E;
    margin-bottom: 30px;
}

.white-container2 {
    margin-left: 250px;
    margin-top: 10px;
    background-color: white;
    padding-left: 50px;
    padding-top: 20px;
    height: 80%;
    /* font-family:"Poppins",sans-serif; */
    font-size: 24px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: all 0.5s ease;
}

.white-container2.close{
    margin-left: 88px;
    padding-left: 10%;
    padding-right: 10%;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-size: 16px;
    
  }

  table, th, td {
    border: 1px solid black;
    vertical-align:text-top;
    text-align: center;
    align-items: center;
  }


  th, td {
    padding: 10px;
    text-align: center;
    vertical-align: bottom;
  }


