body {
    background-color: #E2E2E2;
    margin: 0; 
    padding: 0; 
}

.white-container1 {
    background-color: white;
    padding: 20px;
    margin-left: 250px;
    color: #000000;
    font-size: 36px;
    font-family:"Poppins",sans-serif;
    margin-bottom: 10px;
    border-radius: 10px;
    transition: all 0.5s ease;
}

.white-container1.close{
    margin-left: 88px;
}

.left-top-text {
    text-align: left;
    margin-top: 20px; 
    margin-left: 30px; 
    color: #17376E;
    margin-bottom: 30px;
    font-family:"Poppins",sans-serif;
    font-size: 30px;
}

.white-container2 {
    margin-left: 250px;
    background-color: white;
    padding: 20px;
    height: 600px;
    font-family:"Poppins",sans-serif; 
    font-size: 24px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: all 0.5s ease;
}

.white-container2.close{
    margin-left: 88px;
    padding-right: 20%;
}

.white-container3{
    margin-top: 10px;
    margin-left: 250px;
    background-color: white;
    padding: 20px;
    height: 500px;
    font-family:"Poppins",sans-serif; 
    font-size: 24px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: all 0.5s ease;
}

.white-container3.close{
    margin-left: 88px;
}

.dashed-container {
    border: 2px dashed #333; 
    padding: 10px; 
    width: 1000px; 
    height: 300px; 
    margin-left: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input[type="file"] {
    margin: 10px 0;
    margin-left: 150px; 
}

.file-input-icon {
    width: 100px; 
    height: 100px;
    background-image: url('Icon03.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer; 
}

input[type="file"] {
    display: none;
}

.text1{
    font-size: 20px;
    margin-left: 15px;
    font-size: 20px;
    margin-bottom:10px;
}

.browse-label {
    color: #9AD6FF; 
    cursor: pointer; 
}

/* .download_button {

    color: #000000; 
    padding: 10px 20px; 
    margin-left: 1150px;
    margin-top: 0px;
    border-radius: 8px;
    margin-bottom: 20px;
} */

.download-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #17376E;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 1050px;
    margin-bottom: 20px;
    width: 200px;
}

   input[type=event], select, textarea {
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color:#17376E;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 1430px;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  .x {
    display: flex; 
    align-items: center;
}

 .x input {
    margin: 5px;
}


.y{
    display: flex; 
    align-items: center;
    margin-left: 300px;
    
}

.y input{
    width:300px;
    height: 40px;
}

.z {
    display: flex; 
    align-items: center;
    flex-direction: row;
}
  
  











