body {
    background-color: #E2E2E2;
    margin: 0; 
    padding: 0; 
}

.navbar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 10px 20px;
    margin-left: 328px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    border-radius: 10px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navbar-icons {
    display: flex; 
    gap: 30px; 
}

.navbar-icons a {
    text-decoration: none;
    color: #333;
}

.navbar-icons {
    margin-left: auto;
}

.white-container1 {
    background-color: white;
    padding: 20px;
    margin-left: 328px;
    color: #17376E;
    font-size: 36px;
    font-family:"Poppins",sans-serif;
    margin-bottom: 10px;
    border-radius: 10px;
}

.white-container2 {
    margin-left: 328px;
    background-color: white;
    padding: 20px;
    height: 500px;
    font-family:"Poppins",sans-serif;
    font-size: 24px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.left-top-text {
    text-align: left;
    margin: 0; 
    padding: 0; 
}

.dashed-container {
    border: 2px dashed #333; 
    padding: 10px; 
    width: 500px; 
    height: 300px; 
    margin-top: 100px;
    margin-left: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input[type="file"] {
    margin: 10px 0;
    margin-left: 150px; 
}

.file-input-icon {
    width: 100px; 
    height: 100px;
    background-image: url('Icon03.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer; 
}

input[type="file"] {
    display: none;
}

.text1{
    font-size: 20px;
}

.browse-label {
    color: #9AD6FF; 
    cursor: pointer; 
}

button {

    background-color: #A8A8A8; /* Green background color */
    color: #000000; /* White text color */
    padding: 10px 20px; /* Padding for the button */
    border: none; /* Remove the button border */
    cursor: pointer; /* Change cursor to pointer on hover */
    margin-left: 700px;
    margin-top: 70px;
    border-radius: 8px;
}

/* Define a hover effect */
button:hover {
    background-color:#E2E2E2; /* Darker green on hover */
}

