body {
    background-color: #E2E2E2;
    margin: 0; 
    padding: 0; 
}

.white-container1-1 {
    background-color: white;
    padding: 20px;
    margin-top: 10px;
    margin-left: 250px;
    color: #000000;
    font-size: 36px;
    font-family:"Poppins",sans-serif;
    margin-bottom: 10px;
    border-radius: 10px;
    transition: all 0.5s ease;
}

.white-container1-1.close{
    margin-left: 88px;
}

.white-container2 {
    margin-left: 250px;
    background-color: white;
    padding: 40px;
    height: 700px;
    font-family:"Poppins",sans-serif;
    font-size: 24px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: all 0.5s ease;
}

.white-container2.close{
    margin-left: 88px;
    padding-left: 10%;
    padding-right: 10% ;
}
.left-top-text {
    text-align: left;
    margin: 0; 
    padding: 0; 
}

.dashed-container {
    border: 2px dashed #333; 
    padding: 10px; 
    width: 700px; 
    height: 300px; 
    margin-top: 100px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input[type="file"] {
    margin: 10px 0;
    margin-left: 150px; 
}

.file-input-icon {
    width: 100px; 
    height: 100px;
    background-image: url('Icon03.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer; 
}

input[type="file"] {
    display: none;
}

.text1{
    font-size: 20px;
}

.browse-label {
    color: #9AD6FF; 
    cursor: pointer; 
}

button {

    background-color: #A8A8A8; 
    color: #000000; 
    padding: 10px 20px; 
    border: none;
    cursor: pointer; 
    margin-left: 400px; 
    margin-top: 70px; 
    border-radius: 8px;
}


button:hover {
    background-color:#E2E2E2;
}

