@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-color: #e2e2e2;
  --sidebar-color: #17376e;
  --primary-color: #9ad6ff;
  --text-color: #ffffff;
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}

body {
  height: 100vh;
  background: var(--body-color);
  transition: var(--tran-05);
}

/*sidebar*/

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: var(--sidebar-color);
  transition: var(--tran-05);
  z-index: 300;
}

.menu-links .topic1 {
  font-size: 12px;
  color: #ffffff;
  font-weight: 500;
  padding-left: 15px;
}

.menu-links .topic2 {
  font-size: 12px;
  color: #ffffff;
  font-weight: 500;
  padding-left: 2px;
  margin-top: 20px;
}

.menu-links .topic3 {
  font-size: 12px;
  color: #ffffff;
  font-weight: 500;
  padding-left: 1px;
  margin-top: -8px;
}
.sidebar.close {
  width: 88px;
}

.sidebar .text {
  font-size: 12px;
  font-weight: 400;
  color: var(--text-color);
  transition: var(--tran-03);
  white-space: nowrap;
  opacity: 1;
}

.sidebar.close .text {
  opacity: 0;
}

.sidebar .image {
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar li {
  height: 40px;
  /* background: red; */
  margin-top: 10px;
  list-style: none;
  display: flex;
  align-items: center;
}

.sidebar li .icon {
  min-width: 60px;
  font-size: 22px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.sidebar li .icon,
.sidebar li .text {
  color: var(--text-color);
  transition: var(--tran-03);
}

.sidebar header {
  position: relative;
}

.sidebar .image-text img {
  width: 38px;
  border-radius: 6px;
}

.sidebar header .image-text {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

header .image-text .headder-text {
  display: flex;
  flex-direction: column;
}

.header-text .name1 {
  font-weight: 600;
  font-size: 9px;
  margin-top: 5px;
}

.header-text .name2 {
  font-weight: 600;
  font-size: 8.5px;
}

.header-text .profession {
  margin-top: -2px;
  font-size: 13.5px;
}

.sidebar header .toggle {
  position: absolute;
  top: 17%;
  right: -25px;
  transform: translateY(-50%) rotate(180deg);
  height: 30px;
  width: 25px;
  background: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 35%;
  color: var(--sidebar-color);
  font-size: 22px;
  font-weight: 600;
  transition: var(--tran-03);
  background: var(--text-color);
  border: 1px solid var(--sidebar-color);
  outline-width: 0.5px;
  z-index: 600;
}

.sidebar.close header .toggle {
  transform: translateY(-50%);
}

.sidebar .menu {
  margin-top: 35px;
}

.sidebar li a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 6px;
  transition: var(--tran-04);
}

.sidebar li a:hover {
  background: var(--text-color);
  color: var(--sidebar-color);
}

.sidebar li a:hover .text,
.sidebar li a:hover .icon {
  color: var(--sidebar-color);
}

.sidebar .menu-bar {
  height: calc (100% - 50px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.horizontal-line {
  margin-top: 10px;
}

.hero {
  left: 255px;
  position: relative;
  width: calc(100% - 250px);
  transition: var(--tran-05);
  background: var(--body-color);
  background-color: var(--text-color);
  border-radius: 6px;
  margin: -2px 0.5px 2px 2px;
  min-height: 6vh;
  color: #e2e2e2;
  z-index: 100;
}

.sidebar.close ~ .hero {
  left: 88px;
  width: calc(100% - 90.5px);
}

.hero-ul-li .icon {
  float: right;
  font-size: 25px;
  margin-top: 10px;
  color: var(--sidebar-color);
}

.user-pic {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  cursor: pointer;
  margin: 8px 10px -0.5px 10px;
  float: right;
}

.hero-ul {
  width: 100%;
  text-align: right;
}

.hero-ul-li {
  position: relative;
  display: inline-block;
  list-style: none;
  }
  
span.notification-badge {
position: absolute;
top: 0;
right: 0;
background-color: red;
color: white;
border-radius: 50%;
padding: 3px 6px;
font-size: 12px;
font-weight: bold;
}

.sub-menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.sub-menu-wrap.open-menu {
  max-height: 400px;
}

.sub-menu {
  position: fixed;
  background: var(--text-color);
  padding: 20px;
  margin: 12px;
  border-radius: 6px;
  top: 40px;
  left: 35%;
}

.user-info {
  display: flex;
  align-items: center;
  color: var(--sidebar-color);
}

.user-info h3 {
  font-weight: 500;
}

.user-info img {
  width: 100px;
  height: auto;
  border-radius: 50%;
  margin-right: 15px;
}

.sub-menu hr {
  border: 0;
  height: 1px;
  width: 100%;
  background: var(--sidebar-color);
  margin: 15px 0 10px;
}

.sub-menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--sidebar-color);
  margin: 10px 0px 5px 0px;
  font-weight: 500;
}

.sub-menu-link p {
  width: 100%;
}

.sub-menu-link .icon {
  font-size: 25px;
  color: var(--sidebar-color);
  padding: 8px;
  margin-right: 15px;
}

.sub-menu-link span {
  font-size: 22px;
  margin-right: 13px;
  transition: var(--tran-05);
}

.sub-menu-link:hover span {
  transform: translateX(5px);
}

.sub-menu-link:hover p {
  font-weight: 600;
}

.sub-menu-link:hover .icon {
  font-weight: 600;
}

.menu-links .nav-link.selected {
  background-color: var(--text-color);
  text-decoration: none;
  border-radius: 6px;
}
/* body.submenu-open {
    backdrop-filter: blur(5px);
} */
/*



 drop down side bar 
 
 
 
 */

.dropdown {
  display: none;
  position: absolute;
  background-color: var(--sidebar-color);
  color: var(--text-color);
  margin: 0px 0px 0px 240px;
  padding: 5px 7px 5px 7px;
  border: 1px solid rgba(23, 55, 110, 0.46);
  box-shadow: 0px 8px 11px 0px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  min-width: 215px;
}

.dropdown::before {
  content: "";
  position: absolute;
  top: -20px;
  right: -20px;
  bottom: -20px;
  left: -20px;
  opacity: 0;
  z-index: -1;
}
.dropdown:hover::before {
  opacity: 1;
}
.sidebar.close .dropdown {
  margin-left: 78px;
}

.dropdown a {
  background-color: var(--sidebar-color);
  color: var(--text-color);
  padding: 12px 16px;
  font-size: 13px;
  font-weight: 500;
}

.dropdown a:hover {
  color: var(--sidebar-color);
  background-color: var(--text-color);
}

.nav-link:hover .dropdown {
  display: block;
  background-color: var(--sidebar-color);
  color: var(--text-color);
}

