<rewrite>
    <rules>
        <rule name="Routing to index.php" stopProcessing="true">
            <match url="pattern" ignoreCase="false" />
            <conditions logicalGrouping="MatchAll">
                <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
            </conditions>
            <rewrite url="index.php?url={R:1}" />
        </rule>
    </rules>
</rewrite>
