*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --body-color: #E2E2E2;
    --sidebar-color: #17376E;
    --primary-color: #9AD6FF;
    --text-color: #ffffff;

    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease; 
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;
}

/* DR Dashboard */
.dr-home{
    height: 100vh;
    left: 250px;
    position: relative;
    width: calc(100% - 250px);
    min-width: 70%;
    transition: var(--tran-05);
    background: var(--body-color);
}
.dr-home .dr-title{
    font-size: 30px;
    font-weight: 500;
    color: black;
    padding: 4px 0px 4px 35px;
    background-color: var(--text-color);
    border-radius: 6px;
    margin: 7px 4px 7px 4px;
}
.sidebar.close ~ .dr-home{
    left: 88px;
    width: calc(100% - 88px);
}
.dr-subsection-1{
    background-color: var(--text-color);
    padding: 10px 10px 30px 35px;
    border-radius: 6px;
    margin: 7px 4px 7px 4px;
}
.dr-subsection-1 p{
    margin: 10px 10px 10px 0px;
    color: var(--sidebar-color);
    font-size: 20px;
    font-weight: 500;
}
.dr-subsection-2{
    background-color: var(--text-color);
    padding: 10px 10px 30px 35px;
    border-radius: 6px;
    margin: 7px 4px 7px 4px;
}
.dr-subsection-2 p{
    margin: 10px 10px 10px 0px;
    color: var(--sidebar-color);
    font-size: 20px;
    font-weight: 500;
}
.dr-subsection-3{
    background-color: var(--text-color);
    padding: 10px 10px 30px 35px;
    border-radius: 6px;
    margin: 7px 4px 7px 4px;
}  
.dr-subsection-3 p{
    margin: 10px 10px 10px 0px;
    color: var(--sidebar-color);
    font-size: 20px;
    font-weight: 500;
}

/* DR Degree Programs */
.dr-degree-programs-home{
    height: 100vh;
    left: 250px;
    position: relative;
    width: calc(100% - 250px);
    min-width: 70%;
    transition: var(--tran-05);
    background: var(--body-color);
}
.dr-degree-programs-home .dr-degree-programs-title{
    font-size: 30px;
    font-weight: 500;
    color: black;
    padding: 4px 0px 4px 35px;
    background-color: var(--text-color);
    border-radius: 6px;
    margin: 7px 4px 7px 4px;
}
.sidebar.close ~ .dr-degree-programs-home{
    left: 88px;
    width: calc(100% - 88px);
}
.dr-degree-programs-subsection-1{
    background-color: var(--text-color);
    padding: 10px 10px 30px 35px;
    border-radius: 6px;
    margin: 7px 4px 7px 4px;
}
.dr-degree-programs-subsection-1 p{
    margin: 10px 10px 10px 0px;
    color: var(--sidebar-color);
    font-size: 20px;
    font-weight: 500;
}

/* DR csdcdvdfv */