@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-color: #e2e2e2;
  --sidebar-color: #17376e;
  --primary-color: #9ad6ff;
  --text-color: #ffffff;
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;

  --fs-xl: 5rem;
  --fs-600: 1.5rem;
  --fs-500: 1.25rem;
  --fs-400: 1rem;
  --fs-300: 0.875rem;
}

@media (min-width: 40em) {
  :root {
    --fs--500: 0.2rem;
  }
}

.dr-userprofile {
  height: 100vh;
  left: 250px;
  position: relative;
  width: calc(100% - 250px);
  transition: var(--tran-05);
  background: var(--body-color);
}

.white-container1-1 {
  font-size: 30px;
  font-weight: 600;
  color: black;
  padding: 10px 0px 10px 32px;
  background-color: var(--text-color);
  border-radius: 6px;
  margin: 7px 4px 7px 4px;
}
.white-container1-core {
  color: #17376e;
  font-size: 22px;
  margin: 10px 0px 5px 0px;
  font-weight: 300;
}
.sidebar.close ~ .dr-userprofile {
  left: 88px;
  width: calc(100% - 88px);
}
.left-top-text {
  text-align: left;
  margin: 0;
  padding: 0;
  color: #c02626;
  margin-bottom: 30px;
}
.white-container2-1 {
  background-color: white;
  height: 400px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 7px 4px 2px 4px;
  padding: 10px 0px 10px 32px;
}
.flex-container {
  display: flex;
  justify-content: space-between;
}
.white-container3-1 {
  flex: 1;
  padding: 7px 0px 50px 32px;
  margin: 5px 4px 2px 4px;
  background-color: white;
  width: 50%;
  font-size: 22px;
  border-radius: 10px;
}
.white-container4-1 {
  flex: 1;
  padding: 7px 5px 5px 32px;
  margin: 5px 4px 2px 4px;
  background-color: white;
  width: 50%;
  font-size: 22px;
  border-radius: 10px;
}
.row {
  display: flex;
  /* margin-left: 5%; */
}
.column1 {
  flex: 33.33%;
  background-color: #ffffff;
  height: 150px;
  /* margin-left: 5%; */
}
.column2,
.column3 {
  flex: 33.33%;
  background-color: #ffffff;
  padding: 2%;
  height: 150px;
}
.data2,
.data4 {
  font-size: 18px;
  padding-left: 10%;
  color: #17376e;
  padding-top: 20px;
}
.data1,
.data3 {
  font-size: 18px;
  padding-left: 10%;
  color: #17376e;
}
.email,
.regNum,
.country,
.indexNum {
  padding-top: 5px;
  font-size: 18px;
  color: #000000;
}

.name {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}
.left-top-text2 {
  padding-top: 2%;
  text-align: left;
  margin: 0;
  color: #17376e;
  margin-bottom: 30px;
  font-size: 22px;
  font-weight: bold;
}

.row2 {
  display: flex;
  margin-left: 10%;
}

.column2-2 {
  padding-left: 15%;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.left-top-text3 {
  text-align: left;
  margin: 0;
  padding: 10px 0px 0px 32px;
  color: #000000;
  margin-bottom: 5px;
}

.table {
  border-collapse: collapse;
  width: 300px;
}

td {
  font-size: 16px;
  width: 300px;
  padding: 5px;
  border: 1px solid #ffffff;
  text-align: center;
}

th {
  background-color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  padding: 10px;
}

.bday,
.nic,
.phoneNum,
.Fax,
.adr {
  padding-top: 5px;
  padding-bottom: 30px;
  font-size: 18px;
  color: #000000;
}
.button {
  background-color: #17376e;
  border: none;
  color: white;
  padding: 8px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.buttonx {
  margin-top: 20px;
}
#updateButton {
  margin-left: 37%;
  border-radius: 8px;
  width: 150px;
  height: 40px;
  padding-bottom: 22px;
}

#updateButton:hover {
  background-color: var(--text-color);
  color: var(--sidebar-color);
  border: 2px solid var(--sidebar-color);
}

#submitbutton {
  width: 100%;
  background-color: #17376e;
  color: #ffffff;
  padding: 8px 22px;
  margin: 8px 27px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100px;
}

#submitbutton:hover {
  background-color: #ccc;
}

.close-button {
  /* width: 100%; */
  background-color: var(--text-color);
  color: var(--sidebar-color);
  padding: 8px 22px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border: 2px solid red;
  border-width: 1px;
}
.close-button-2 {
  background-color: var(--text-color);
  color: red;
  padding: 8px 22px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border: 2px solid red;
  border-width: 1px;
}
.close-button-3 {
  background-color: var(--text-color);
  color: black;
  padding: 8px 22px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border: 2px solid black;
  border-width: 1px;
}
.close-button:hover {
  background-color: #e2e2e2;
}

.popupForm1 {
  border-radius: 5px;
  background-color: var(--text-color);
  padding: 23px;
  width: 500px;
  height: 500px;
}

#changedegreebutton {
  border-radius: 8px;
  width: 250px;
  height: 40px;
}

#changedegreebutton:hover {
  background-color: var(--text-color);
  color: var(--sidebar-color);
  border: 2px solid var(--sidebar-color);
}
#userDeletePopupImg {
  height: 100px;
  width: 100px;
}
#userDeletePopupH2 {
  font-weight: 400;
  margin: 20px 10px;
}
#deletebutton {
  display: inline-block;
  background-color: var(--text-color);
  border: 2px solid red;
  color: red;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  height: 40px;
  margin-left: 20;
}

#deletebutton:hover {
  background-color: red;
  color: var(--text-color);
}

.cur-deg,
.change-deg {
  font-size: 20px;
}

.change-deg select {
  padding: 20px;
  font-size: 18px;
}

#update-deg {
  width: 100%;
  background-color: #17376e;
  color: #ffffff;
  padding: 10px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100px;
}

#update-deg:hover {
  background-color: #ccc;
}
.drop-down {
  margin: 30vh 4vh 10vh 0;
  font-size: 12px;
}
.bt-name-white {
  background: #fff;
  padding: 8px 22px;
  margin-left: -100px;
  border-radius: 6px;
  color: #17376e;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
  border: 0px;
  font-size: 14px;
  font-weight: 600;
}

.bt-name-white:hover {
  color: #fff;
  background: #17376e;
}
.bt-name {
  color: #fff;
  padding: 8px 22px;
  border-radius: 6px;
  background: #17376e;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
  border: 0px;
  font-size: 14px;
  font-weight: 600;
  margin-left: 20px;
}

.bt-name:hover {
  background: #fff;
  color: #17376e;
}
.btn-box {
  width: 100%;
  margin: 30px 10px 20px 10px;
  text-align: center;
}

/*pop up for update*/

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.25);
  opacity: 1;
  background: #fff;
  width: 500px;
  padding: 20px 30px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  transition: top 0ms ease-in-out 200ms, opacity 200ms ease-in-out 0ms,
    transform 200ms ease-in-out 0ms;
  z-index: 100;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.popup .form h2 {
  text-align: center;
  color: #17376e;
  margin: 10px 0px 20px;
  font-size: 22px;
  font-weight: 600;
}

.popup .form .form-element {
  display: flex;
  margin: 15px 0px;
  align-content: flex-end;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
}

.popup .form .form-element label {
  font-size: 14px;
  color: #222;
}

.popup .form .form-element input[type="text"] {
  margin-top: 5px;
  display: block;
  width: 100%;
  padding: 10px;
  outline: none;
  border: 1px solid #aaa;
  border-radius: 5px;
  height: 33px;
}

.popup .form .form-element button {
  padding: 10px;
  height: 5vh;
  width: 30%;
  border: none;
  outline: none;
  background: #17376e;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}

.user-data {
  display: flex;
  gap: 30px;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.column-01,
.column-02 {
  width: 50%;
}

.popup-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
}
.student-create-update {
  margin: 2% 0% 0% 27%;
}

.pop-up1-1 {
  display: none;
  position: fixed;
  background-color: var(--text-color);
  color: black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  margin: 5px 8px;
  padding: 40px 65px;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2);
  z-index: 100;
}
.pop-up1-1 h2 {
  font-weight: 600;
  margin: 20px 10px;
}
.pop-up1-1 p {
  font-weight: 400;
  margin: 20px 10px;
}
#crossForDiplomaChange{
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px;
  cursor: pointer;
}