@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-color: #e2e2e2;
  --sidebar-color: #17376e;
  --primary-color: #9ad6ff;
  --text-color: #ffffff;
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;

  --fs-xl: 5rem;
  --fs-600: 1.5rem;
  --fs-500: 1.25rem;
  --fs-400: 1rem;
  --fs-300: 0.875rem;
}

@media (min-width: 40em) {
  :root {
    --fs--500: 0.2rem;
  }
}

.dr-userprofile {
  height: 100vh;
  left: 250px;
  position: relative;
  width: calc(100% - 250px);
  transition: var(--tran-05);
  background: var(--body-color);
}

.white-container1-1 {
  font-size: 30px;
  font-weight: 600;
  color: black;
  padding: 10px 0px 10px 32px;
  background-color: var(--text-color);
  border-radius: 6px;
  margin: 7px 4px 7px 4px;
}
.white-container1-core {
  color: #17376e;
  font-size: 22px;
  margin: 10px 0px 5px 0px;
  font-weight: 300;
}
.sidebar.close ~ .dr-userprofile {
  left: 88px;
  width: calc(100% - 88px);
}
.left-top-text {
  text-align: left;
  margin: 0;
  padding: 0;
  color: #c02626;
  margin-bottom: 30px;
}
.white-container2-1 {
  background-color: white;
  height: 500px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 7px 4px 2px 4px;
  padding: 10px 0px 10px 32px;
}
.flex-container {
  display: flex;
  justify-content: space-between;
}
.white-container3-1 {
  flex: 1;
  padding: 7px 0px 5px 32px;
  margin: 5px 4px 2px 4px;
  background-color: white;
  height: 800px;
  width: 50%;
  font-size: 22px;
  border-radius: 10px;
}
.white-container4-1 {
  flex: 1;
  padding: 7px 5px 5px 32px;
  margin: 5px 4px 2px 4px;
  background-color: white;
  height: 800px;
  width: 50%;
  font-size: 22px;
  border-radius: 10px;
}
.row {
  display: flex;
  /* margin-left: 5%; */
}
.column1 {
  flex: 33.33%;
  background-color: #ffffff;
  height: 150px;
  /* margin-left: 5%; */
}
.column2,
.column3 {
  flex: 33.33%;
  background-color: #ffffff;
  padding: 2%;
  height: 150px;
}
.data2,
.data4 {
  font-size: 18px;
  padding-left: 10%;
  color: #17376e;
  padding-top: 20px;
}
.data1,
.data3 {
  font-size: 18px;
  padding-left: 10%;
  color: #17376e;
}
.email {
  padding-top: 5px;
  font-size: 18px;
  color: #000000;
}

.regNum {
  padding-top: 5px;
  font-size: 18px;
  color: #000000;
}

.country {
  padding-top: 5px;
  font-size: 18px;
  color: #000000;
}

.indexNum {
  padding-top: 5px;
  font-size: 18px;
  color: #000000;
}

.name {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}
.left-top-text2 {
  /* padding-left: 10%; */
  padding-top: 2%;
  text-align: left;
  margin: 0;
  color: #17376e;
  margin-bottom: 30px;
  font-size: 22px;
  font-weight: bold;
}

.row2 {
  display: flex;
  margin-left: 10%;
}

.column2-2 {
  padding-left: 15%;
}

.buttons {
  display: flex;
  /* Use flexbox to arrange the buttons horizontally */
  justify-content: space-between;
  /* Adjust horizontal spacing between buttons */
}

.left-top-text3 {
  text-align: left;
  margin: 0;
  padding: 10px 0px 0px 32px;
  color: #000000;
  margin-bottom: 5px;
}

.table {
  border-collapse: collapse;
  width: 300px;
}

td {
  font-size: 16px;
  /* Data font size */
  width: 300px;
  padding: 5px;
  /* Data cell padding */
  border: 1px solid #ffffff;
  /* Data cell border */
  text-align: center;
}

th {
  background-color: #ffffff;
  /* Header background color */
  font-size: 18px;
  /* Header font size */
  font-weight: bold;
  /* Header font weight */
  padding: 10px;
  /* Header cell padding */
}

.bday,
.nic,
.phoneNum,
.Fax,
.adr {
  padding-top: 5px;
  padding-bottom: 30px;
  font-size: 18px;
  color: #000000;
}
.button {
  background-color: #17376e;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#updateButton {
  margin-left: 52%;
  border-radius: 8px;
  width: 150px;
  height: 40px;
  padding-bottom: 30px;
}

#updateButton:hover {
  background-color: #ccc;
}

/* .input[type=submit] {
  width: 100%;
  background-color:#17376E;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width:100px;
} */

#submitbutton {
  width: 100%;
  background-color: #17376e;
  color: #ffffff;
  padding: 10px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100px;
}

#submitbutton:hover {
  background-color: #ccc;
}

.close-button {
  width: 100%;
  background-color: #ccc;
  color: #17376e;
  padding: 10px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100px;
  border-color: #000000;
  border-width: 1px;
}

.close-button:hover {
  background-color: #e2e2e2;
}

/* input[type=submit]:hover {
  background-color: whitesmoke;
} */

.popupForm1 {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 500px;
  height: 300px;
}

.popupForm2 {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 500px;
  height: 800px;
}

/* class->.ad
id=# */

/* #changedegreebutton{
  margin: left 800px;;
  border-radius: 8px;
  width: 250px;
  height: 40px;
  padding-bottom: 30px;
} */

#changedegreebutton {
  border-radius: 8px;
  width: 250px;
  height: 40px;
  padding-bottom: 30px;
}

#changedegreebutton:hover {
  background-color: #ccc;
}
#userDeletePopupImg {
  height: 100px;
  width: 100px;
}
#userDeletePopupH2 {
  font-weight: 400;
}
#deletebutton {
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  border: 2px solid red;
  color: red;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  height: 40px;
  padding-bottom: 30px;
}

#deletebutton:hover {
  background-color: #e2e2e2;
}

.cur-deg,
.change-deg {
  font-size: 20px;
}

.change-deg select {
  padding: 20px;
  font-size: 18px;
}

#update-deg {
  width: 100%;
  background-color: #17376e;
  color: #ffffff;
  padding: 10px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100px;
}

#update-deg:hover {
  background-color: #ccc;
}
