body {
    background-color: #E2E2E2;
    margin: 0; 
    padding: 0; 
}

.white-container1 {
    background-color: white;
    padding: 20px;
    margin-top: 10px;
    margin-left: 250px;
    color: #000000;
    font-size: 36px;
    font-family:"Poppins",sans-serif;
    margin-bottom: 10px;
    border-radius: 10px;
    transition: all 0.5s ease;
}

.white-container1.close{
    margin-left: 88px;
}

.white-container2 {
    margin-left: 250px;
    background-color: white;
    padding: 40px;
    height: 700px;
    font-family:"Poppins",sans-serif;
    font-size: 24px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: all 0.5s ease;
}

.white-container2.close{
    margin-left: 88px;
    padding-left: 2%;
    padding-right: 10% ;
}

.left-top-text {
    text-align: left;
    margin: 0; 
    padding: 0; 
}

.white-container2-1{
    margin-left: 40px;
    background-color: #c92f2f;
    padding-top: 150px;
    height: 300px;
    font-family:"Poppins",sans-serif;
    font-size: 24px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: all 0.5s ease;
    padding-left: 5%;
}

.white-container2-1.close{
    margin-left: 88px;
    padding-left: 5%;
    padding-right: 10% ;
}

.abc{
    display: flex;
    flex-direction: row;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
  }

  .button:hover {
    background-color: #2980b9;
  }

  .form-container {
    width: 300px;
    margin: 0 auto;
  }

  .form-row {
    display: flex;
    margin-bottom: 10px;
  }

  .form-group {
    flex: 1;
    margin-right: 10px;
  }

  .form-group:last-child {
    margin-right: 0;
  }

  .form-group label {
    display: block;
    font-weight: bold;
  }

  .form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;}